node_modules
.DS_Store
dist
dist-ssr
*.local
count.txt
.env
.nitro
.tanstack
.wrangler
.output
.vinxi
todos.json

/generated/prisma

# Local Netlify folder
.netlify


# Volume for database data
db_data/
